<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="fname">First Name</label>
          <input type="text" 
          class="form-control"
          ngModel 
          required
          name="fname"
          id="fname"
          #fname="ngModel">
        </div>
        <span class="help-block" *ngIf="!fname.valid && fname.touched">Please enter valid name</span>
        <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" 
            name="lname"
            required
            class="form-control" 
            ngModel
            #lname="ngModel"
            id="lname">
        </div>
        <span class="help-block" *ngIf="!lname.valid && lname.touched">Please enter Last name</span>
        <div class="form-group">
              <label for="email">Email</label>
              <input type="text" 
              required
              email
              name="email"
              class="form-control" 
              ngModel
              #email="ngModel"
              id="email">
        </div>
        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter valid email</span>
        <div class="form-group">
          <label for="date">Date</label>
          <input type="date" 
          required
          name="date"
          class="form-control" 
          ngModel
          id="date">
    </div>
        <div class="form-group">
            <select name="select" 
            id="select" 
            name="select"
            class="form-control"
            [ngModel]="defaultDesignation"
            ngModel>
                <option [ngValue]="item.value" *ngFor="let item of desigArray">{{item.value}}</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
      </form>
      <br>
      <input type="text" [(ngModel)]="filterName" id="search" placeholder="Type to Search" class="form-control">
      
      <!-- Displaying the data in table , also 
           1.Used date pipe to display date in shorter format.
           2.used uppercase pipe to display prefix(Mr and Mrs) in capital letters
           3. Then created a filter pipe to search the data from the table using to First name.-->

           
           
      

      <hr>
      <h3>Form Values</h3>
      <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>First Name</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Date</th>
                <th>Designation</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of nameArray | filter:filterName">
                <td>{{item.fname}}</td>
                <td>{{item.lname}}</td>
                <td>{{item.email}}</td>
                <td>{{item.date| date:'shortDate'}}</td>
                <td>{{item.designation|uppercase}}</td>
              </tr>
            </tbody>
          </table>
        </div>

    </div>
  </div>
</div>